{%- liquid
  assign product_resource = block.settings.product
  assign selected_variant = product_resource.selected_or_first_available_variant
  assign system = product.metafields.system
  assign serie = system.serie.value
  assign model_number = system.model_number.value
-%}

<p>{{ product.category }}</p>
{% if product.category contains 'Amplifier' %}
  Amplifier Spec
{% elsif product.category contains 'Accessories' %}
  Accessories
{% else %}
  Speaker specs
{% endif %}
{% schema %}
{
  "name": "Specification",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "select_table",
      "label": "Select a table",
      "options": [
        {
          "value": "speaker_spec",
          "label": "Speaker Spec"
        },
        {
          "value": "subwoofer_spec",
          "label": "Subwoofer Spec"
        },
        {
          "value": "amplifier_spec",
          "label": "Amplifier Spec"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Specification",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}
